doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='apple-touch-icon' sizes='180x180' href='./images/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon/favicon-16x16.png')
    link(rel='manifest' href='./images/favicon/site.webmanifest')
    meta(name="author", content="Jordanne Chan")
    meta(name="description", content="Jordanne's pixel art gallery")
    meta(name="keywords", content="pixel art, Jordanne Chan")
    meta(name="robots", content="index, follow")
    meta(property="og:title", content="Jordanne's Pixel Art Gallery")
    meta(property="og:locale" content="en_US")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://jordannechan.ca/pixels")
    meta(property="og:image", content="https://jordannechan.ca/pixels/images/image.png")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:creator", content="@JordanneChan")
    link(rel="stylesheet", href="./css/style.css")
    title Pixel Art Gallery
  body 
    .container
      h1 Pixel Art Gallery 
      main.gallery
        .intro Since the beginning of 2021, I've been sectioning every two weeks of my life into a "sprint" period, where I manage tasks, events and personal goals. Each sprint has a codename, and gets an accompanying pixel character. Check them out below. 
          p
            button(id="btn-all") Show All
            button(id="btn22", data-yr="22") 2022
            button(id="btn21", data-yr="21") 2021
        - const filesList = [{ year: 21, image: "03.png", name: "Milky" },{ year: 21, image: "04.gif", name: "Cow" },{ year: 21, image: "05.png", name: "Tortoiseshell" },{ year: 21, image: "06.gif", name: "Qiu" },{ year: 21, image: "07.gif", name: "Torus" },{ year: 21, image: "08.png", name: "Worm" },{ year: 21, image: "09.gif", name: "Tomat" },{ year: 21, image: "10.gif", name: "Ghosty" },{ year: 21, image: "11.gif", name: "Frog" },{ year: 21, image: "12.gif", name: "Potato" },{ year: 21, image: "13.gif", name: "Geometry" },{ year: 21, image: "14.gif", name: "String" },{ year: 21, image: "15.gif", name: "Egg" }, { year: 21, image: "16.gif", name: "Box"}, {year: 21, image: "17.gif", name: "Deutsch"}, {year: 21, image: "18.gif", name: "1998"}, {year: 21, image: "19.gif", name: "Voice"}, {year: 21, image: "20.gif", name: "Trash"}, {year: 21, image: "21.gif", name: "Tea Time"}, {year: 21, image: "22.gif", name: "Fungus"}, {year: 21, image: "23.gif", name: "Two"}, {year: 21, image: "24.gif", name: "Fabric"}, {year: 21, image: "25.gif", name: "Particle"}, {year: 21, image: "26.gif", name: "Bread"}, {year: 22, image:"01.png", name: "Van"}, {year: 22, image:"02.gif", name: "Jelly"}, {year: 22, image: "03.gif", name: "Up"}, {year: 22, image: "04.gif", name: "Wood/Would"}, {year: 22, image: "05.gif", name: "Hz"}, {year: 22, image: "12.gif", name: "Hot"}];
        for n in filesList
          .item(class=`yr-${n.year}`)
            img(src=`images/${n.year}-${n.image}`, alt=`${n.name}`)
            .title=n.name
      footer.footer
        p.copyright © 2021-2022 
          a(href="https://jordanne.ca") Jordanne Chan
      script(src="script.js")